<table>
  <thead>
    <tr>
      <th>Müşteri Sipariş No</th>
      <th>Çıkış Adresi</th>
      <th>Varış Adresi</th>
      <th>Miktar</th>
      <th>Miktar Birim</th>
      <th>Ağırlık</th>
      <th>Ağırlık Birim</th>
      <th>Malzeme Kodu</th>
      <th>Not</th>
      <th>Statü</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.customerOrderNo }}</td>
      <td>{{ order.sourceAddress }}</td>
      <td>{{ order.destinationAddress }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.quantityUnit }}</td>
      <td>{{ order.weight }}</td>
      <td>{{ order.weightUnit }}</td>
      <td>{{ order.materialCode }}</td>
      <td>{{ order.note }}</td>
      <td>
        <select [(ngModel)]="order.orderStatus"   (ngModelChange)="changeOrderState(order)">
          <option *ngFor="let state of states" [value]="state.value">{{ state.label }}</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>